priority -50

snippet code "C snip" b
\`\`\`sh
${1}
\`\`\`
$0
endsnippet

snippet code "C snip" b
\`\`\`c
${1}
\`\`\`
$0
endsnippet



snippet h3 "C sinp" b
### ${1} - 项目组合 ###
endsnippet

snippet h4 "C sinp" b
#### ${1} - 项目 ####
endsnippet

